target/classes/api-new-changes.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b524bb56-4520-4d43-a040-1e0a191e4d2b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="api-new-changesFlow" doc:id="e13a8702-32e8-46e1-a182-4db2f4ea66fb" >
		<http:listener doc:name="Listener" doc:id="25b23a9f-d310-4cd6-adfb-3ff16dafa52e" config-ref="HTTP_Listener_config" path="/*"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="c0886a1a-8d5c-4afd-87ff-5ed51ae4b6f5" />
		<ee:transform doc:name="Transform Message" doc:id="5f0a70bd-5f1d-4401-b8f4-f3a3605f2f19" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
